html {
	font-family: var(--font-main), sans-serif;
  background-color: var(--color-dark);
  color: var(--color-light);
}

p, h1, h2, h3, h4, h5, h6 {
  font-size: 1.25rem;
	font-weight: 400;
}

b, strong {
  font-weight: 700;
}
