:root {
  --bg-color: var(--stone-12);
  --fg-color: var(--sand-1);
  --ac-color: var(--red-10);
}

html {
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: var(--font-classical-humanist);
}
