:root {
  --navy-50: hsl(220, 40%, 96%);
  --navy-100: hsl(220, 40%, 90%);
  --navy-200: hsl(220, 40%, 80%);
  --navy-300: hsl(220, 40%, 65%);
  --navy-400: hsl(220, 40%, 50%);
  --navy-500: hsl(220, 40%, 35%);
  --navy-600: hsl(220, 40%, 25%);
  --navy-700: hsl(220, 42%, 18%);
  --navy-800: hsl(220, 45%, 12%);
  --navy-900: hsl(220, 50%, 8%);

  /* Pastels */

  --q-blue: #99c3ec;
  --q-periwinkle: #aad2ec;
  --q-teal: #bcede6;
  --q-pine: #97e3c2;
  --q-peach: #ffeed9;
  --q-pink: #f69c9e;
}
