---
import Base from "@/layouts/Base.astro";
import Swatch from "@/components/Swatch/Swatch.astro";
import SwatchContainer from "@/components/Swatch/SwatchContainer.astro";
---

<style>
</style>

<Base>
  <h1>PVD Meshworks</h1>
  <h2>PVD Meshworks</h2>
  <h3>PVD Meshworks</h3>
  <h4>PVD Meshworks</h4>
  <h5>PVD Meshworks</h5>
  <p>PVD Meshworks</p>

  <SwatchContainer title="Gray">
      <Swatch title="--navy-50" color="var(--navy-50)" />
      <Swatch title="--navy-100" color="var(--navy-100)" />
      <Swatch title="--navy-200" color="var(--navy-200)" />
      <Swatch title="--navy-300" color="var(--navy-300)" />
      <Swatch title="--navy-400" color="var(--navy-400)" />
      <Swatch title="--navy-500" color="var(--navy-500)" />
      <Swatch title="--navy-600" color="var(--navy-600)" />
      <Swatch title="--navy-700" color="var(--navy-700)" />
      <Swatch title="--navy-800" color="var(--navy-800)" />
      <Swatch title="--navy-900" color="var(--navy-900)" />
  </SwatchContainer>

  <SwatchContainer title="Coral">
      <Swatch title="--coral-50" color="var(--coral-50)" />
      <Swatch title="--coral-100" color="var(--coral-100)" />
      <Swatch title="--coral-200" color="var(--coral-200)" />
      <Swatch title="--coral-300" color="var(--coral-300)" />
      <Swatch title="--coral-400" color="var(--coral-400)" />
      <Swatch title="--coral-500" color="var(--coral-500)" />
      <Swatch title="--coral-600" color="var(--coral-600)" />
      <Swatch title="--coral-700" color="var(--coral-700)" />
      <Swatch title="--coral-800" color="var(--coral-800)" />
      <Swatch title="--coral-900" color="var(--coral-900)" />
  </SwatchContainer>

  <SwatchContainer title="Green">
      <Swatch title="--green-50" color="var(--green-50)" />
      <Swatch title="--green-100" color="var(--green-100)" />
      <Swatch title="--green-200" color="var(--green-200)" />
      <Swatch title="--green-300" color="var(--green-300)" />
      <Swatch title="--green-400" color="var(--green-400)" />
      <Swatch title="--green-500" color="var(--green-500)" />
      <Swatch title="--green-600" color="var(--green-600)" />
      <Swatch title="--green-700" color="var(--green-700)" />
      <Swatch title="--green-800" color="var(--green-800)" />
      <Swatch title="--green-900" color="var(--green-900)" />
  </SwatchContainer>

  <SwatchContainer title="Cyan">
      <Swatch title="--cyan-50" color="var(--cyan-50)" />
      <Swatch title="--cyan-100" color="var(--cyan-100)" />
      <Swatch title="--cyan-200" color="var(--cyan-200)" />
      <Swatch title="--cyan-300" color="var(--cyan-300)" />
      <Swatch title="--cyan-400" color="var(--cyan-400)" />
      <Swatch title="--cyan-500" color="var(--cyan-500)" />
      <Swatch title="--cyan-600" color="var(--cyan-600)" />
      <Swatch title="--cyan-700" color="var(--cyan-700)" />
      <Swatch title="--cyan-800" color="var(--cyan-800)" />
      <Swatch title="--cyan-900" color="var(--cyan-900)" />
  </SwatchContainer>

  <SwatchContainer title="Yellow">
      <Swatch title="--yellow-50" color="var(--yellow-50)" />
      <Swatch title="--yellow-100" color="var(--yellow-100)" />
      <Swatch title="--yellow-200" color="var(--yellow-200)" />
      <Swatch title="--yellow-300" color="var(--yellow-300)" />
      <Swatch title="--yellow-400" color="var(--yellow-400)" />
      <Swatch title="--yellow-500" color="var(--yellow-500)" />
      <Swatch title="--yellow-600" color="var(--yellow-600)" />
      <Swatch title="--yellow-700" color="var(--yellow-700)" />
      <Swatch title="--yellow-800" color="var(--yellow-800)" />
      <Swatch title="--yellow-900" color="var(--yellow-900)" />
  </SwatchContainer>

  <SwatchContainer title="Red">
      <Swatch title="--red-50" color="var(--red-50)" />
      <Swatch title="--red-100" color="var(--red-100)" />
      <Swatch title="--red-200" color="var(--red-200)" />
      <Swatch title="--red-300" color="var(--red-300)" />
      <Swatch title="--red-400" color="var(--red-400)" />
      <Swatch title="--red-500" color="var(--red-500)" />
      <Swatch title="--red-600" color="var(--red-600)" />
      <Swatch title="--red-700" color="var(--red-700)" />
      <Swatch title="--red-800" color="var(--red-800)" />
      <Swatch title="--red-900" color="var(--red-900)" />
  </SwatchContainer>
</Base>
