---
import Base from "@/layouts/Base.astro";
import Swatch from "@/components/Swatch/Swatch.astro";
import SwatchContainer from "@/components/Swatch/SwatchContainer.astro";
---

<style>
</style>

<Base>
  <h1>PVD Meshworks</h1>
  <h2>PVD Meshworks</h2>
  <h3>PVD Meshworks</h3>
  <h4>PVD Meshworks</h4>
  <h5>PVD Meshworks</h5>
  <p>PVD Meshworks</p>

  <SwatchContainer title="Gray">
      <Swatch title="--navy-50" color="var(--navy-50)" />
      <Swatch title="--navy-100" color="var(--navy-100)" />
      <Swatch title="--navy-200" color="var(--navy-200)" />
      <Swatch title="--navy-300" color="var(--navy-300)" />
      <Swatch title="--navy-400" color="var(--navy-400)" />
      <Swatch title="--navy-500" color="var(--navy-500)" />
      <Swatch title="--navy-600" color="var(--navy-600)" />
      <Swatch title="--navy-700" color="var(--navy-700)" />
      <Swatch title="--navy-800" color="var(--navy-800)" />
      <Swatch title="--navy-900" color="var(--navy-900)" />
  </SwatchContainer>
</Base>
