---
interface Props {
  title: string;
  subtitle?: string;
  color: string;
}

const { title, subtitle, color } = Astro.props;
---

<style>
  .container {
    width: fit-content;
    padding: var(--space-px-8);
  }

  .swatch {
    aspect-ratio: 1;
    width: var(--size-px-9);
    border-radius: var(--radius-2);
    margin: 0 auto;
  }

  .title {
    padding: var(--size-px-2);
    margin: 0 auto;
  }
</style>

<div class="container">
  <div class="swatch" style={`background-color:${color};`}></div>
  <pre class="title">{title}</pre>
</div>
