---
interface Props {
  title: string;
  subtitle?: string;
  color: string;
}

const { title, subtitle, color } = Astro.props;
---

<style>
  .container {
    width: fit-content;
    padding: var(--space-px-8);

    border: 3px solid white;
    border-radius: var(--radius-2);
    text-align: center;
  }

  .swatch {
    aspect-ratio: 1;
    width: var(--size-px-12);
    border-radius: var(--radius-2);
  }
</style>

<div class="container">
  <h3>{title}</h3>
  <div class="swatch" style={`background-color:${color};`}></div>
</div>
