---
import { Font } from "astro:assets";

import "@/styles/reset.css";
import "@/styles/open-props.css";
import "@/styles/quarks.css";
import "@/styles/base.css";

interface Props {
	title?: string;
}

const { title = "PVD Meshworks" } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<Font cssVariable="--font-main" />
		<Font cssVariable="--font-accent" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
